.thebtn {

    text-align: center;
    display: inline-block;

      padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: #F4CE14;
  color: #495E57;
  font-weight: bold;
  border: 0.1875rem solid #F4CE14;
}

.thebtn:hover {
background-color: #495E57;
  border-color: #495E57;
  color: #FFFFFF;
  
}

.buttonLink {
    text-decoration: none;
}
.buttonLink:hover {
    text-decoration: none;
    color: #FFFFFF;
}