.thebtn {
  text-align: center;
  display: inline-block;

  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: #f4ce14;
  color: #495e57;
  font-weight: bold;
  border: 0.1875rem solid #f4ce14;
}

.thebtn:hover {
  background-color: #495e57;
  border-color: #495e57;
  color: #ffffff;
}

.buttonLink {
  text-decoration: none;
}
.buttonLink:hover {
  text-decoration: none;
  color: #ffffff;
}
