.footer {
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #495E57;
  margin-left: 100px;
  margin-right: 100px;
  text-align: left;
}

.footer > DIV {
  color: white;
}

.footer ul {
  list-style-type: none;
  list-style: none;
  padding-inline-start: 0;
}
