.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background: #111;
}

.navbar ul {
  list-style: none;
  list-style-type: none;
  padding-inline-start: 0;
  display: inline-flex;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 600px) {
.navbar ul {
  display: block;
}
}


.nav-left a{
    float: left;
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-weight: 500;
  cursor: pointer;
}

.nav-right a {
    float: left;
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-weight: 500;
  cursor: pointer;
}

.nav-left a:hover,
.nav-right a:hover {
  opacity: 0.7;
}
