.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  min-height: 6.25rem;
  background-color: #fff;
  /* background-color: #F4CE14; */
}

.navbar ul {
  list-style: none;
  list-style-type: none;
  padding-inline-start: 0;
  display: inline-flex;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 600px) {
  .navbar ul {
    display: block;
  }
}

.nav-left a {
  float: left;
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-weight: 500;
  cursor: pointer;
}

.nav-right a {
  float: left;
  text-decoration: none;
  margin: 0 12px;
  font-weight: 500;
  cursor: pointer;
}

.nav-left a:hover,
.nav-right a:hover {
  opacity: 0.7;
}

.hamburger {
  grid-column: 2;
  display: none;
  cursor: pointer;
  color: #495e57;
  transition: background-color 0.5s;
}

.hamburger .bar1,
.hamburger .bar2,
.hamburger .bar3 {
  background-color: #495e57;
  height: 2px;
  width: 30px;
  margin: 8px 0;
}
.hamburger .bar1x {
  background-color: #495e57;
  height: 2px;
  width: 30px;
  margin: 8px 0;
  transition: 0.4s;
    -webkit-transform: rotate(-45deg) translateY(8px);
  transform: rotate(-45deg) translateY(8px);

}
.hamburger .bar2x {
  display: none;
}
.hamburger .bar3x {
  background-color: #495e57;
  height: 2px;
  width: 30px;
  margin: 8px 0;
  transition: 0.4s;
   -webkit-transform: rotate(45deg) translateY(-8px);
  transform: rotate(45deg) translateY(-8px);
}

.hamburger:hover {
  background-color: #f4ce14;
}

.navbarlinks {
  grid-column: 3;
  display: flex;
  justify-content: right;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style-type: none;
  transition: right 0.3s;
}

.navbarlinks .expanded {
  right: 0;
}

.navbarlinks li {
  display: flex;
}

.navbarlinks a {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  transition: background-color 0.5s;
}

.navbarlinks a:hover,
.navbarlinks a:focus {
  background-color: #f4ce14;
}

@media only screen and (max-width: 600px) {
  .hamburger {
    width: 2.5rem;
    justify-self: end;
    display: inline-block;
    background: none;
    border: none;
  }

  .navbarlinks {
    position: absolute;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    top: 100px;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }


  .navbarlinkshidden {
    display: none;
  }

  .navbarlinks li {
    flex-direction: column;
  }
}
